---
import "../style/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="Vi er et supplement til dit studie og arbejder for, at du får et lettere studieliv og styrket dine muligheder for at skabe et inspirerende og godt arbejdsliv efter dit studie."/>
    <meta name="generator" content={Astro.generator} />
    <title>CA Studiepartner</title>
  </head>

  <body>
   
    <main>
      <Header />
      <h1>CA Studiepartner</h1>
      <h2>Vi hjælper dig fra dér hvor du er – til dér hvor du gerne vil være.</h2>
    </main>

    <footer>
      <Footer />    
    </footer>
  
  </body>

</html>
