---
import "../style/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="Vi er et supplement til dit studie og arbejder for, at du får et lettere studieliv og styrket dine muligheder for at skabe et inspirerende og godt arbejdsliv efter dit studie."/>
    <meta name="generator" content={Astro.generator} />
    <title>CA A-kasse | Studiepartner</title>
  </head>

  <body>
   
      <header>
        <Header />
      </header>

    <main>
      <h1>Din Studiepartner</h1>
      <div id="forside">
        <div class="image-container">
          <img src="img/studerende.webp" alt="Studiepartner">
          <button id="tilmeld">Bliv medlem</button>
        </div>    

        <div id="slogan">
          <h2>Vi hjælper dig, fra der hvor du er <br> — Til der hvor du gerne vil være</h2>
        </div>

        <section id="membership">
          <h3>Medlemsfordele</h3>
          <li><a href="/#"><img src="arrow.svg" alt="Arrow Icon"> Gratis a-kasse</a></li>
          <li></li><a href="/#"><img src="arrow.svg" alt="Arrow Icon"> Billig studieforsikring</a></li>
          <li></li><a href="/#"><img src="arrow.svg" alt="Arrow Icon"> Gratis advokathjælp</a></li>
          <li></li><a href="/#"><img src="arrow.svg" alt="Arrow Icon"> Rabatter og fordele </a></li>
          <li></li><a href="/#"><img src="arrow.svg" alt="Arrow Icon"> Rabatter og fordele</a></li>
        </section>
        <button id="read_more">Læs mere</button>

        <section id="aboutus">
          <h3>Om os</h3>
          <p>Velkommen til CA – din dedikerede karrierepartner under din studietid. Vi er her for at støtte dig i din uddannelse inden for forretningsområder som økonomi & finans, projektledelse, marketing, kommunikation, IT & e-commerce, ledelse & strategi, HR og lignende fagområder.
          <br>
          <br>
          Vi stræber efter at sikre, at din studietid ikke kun er præget af faglig læring, men også af trivsel og forberedelse til en succesfuld karriere efter endt uddannelse.</p>
        </section>
        <button id="read_more">Læs mere</button>

        <img src="img/group.webp">

        <h3>Har du spørgsmål til tilmelding, eller bare brug for at høre mere?</h3>
        <div id="buttons">
          <button id="callme">Ring mig op</button>
          <button id="contact_us">Kontakt os</button>
        </div>
      </div>

      <blockquote>
        <p><img src="quote.svg" alt="Citat">CA var min studiepartner under studietiden og jeg var ikke et sekund i tvivl om, at jeg havde valgt den rette a-kasse.</p>
        <span>Majbrit, Cand.merc. i International Business & Marketing</span>
      </blockquote>

      </main>

  </body>

    <footer>
      <Footer />    
    </footer>

</html>

<style>
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 blockquote {
    padding: 8% 0;
    display: ;
  }

  img {
    max-width: 100%;
    height: auto;
  }

#tilmeld {
  position: absolute;
  top: 40%;
  z-index: 2;
  font-size: 20px;
  padding: 2% 10%;
}

#slogan {
  padding-top: 15%;
}

blockquote p {
  font-style: italic;
}

span {
  font-size: var(--lg-size);
  color: var(--primary-variant-color);
  font-family: Nexa;
}

</style>

