---
import "../style/style.css";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="CA er din studie- og karrierepartner inden for business, tilbyder rådgivning, kurser og ressourcer for et lettere studieliv og styrker dine muligheder for en inspirerende karriere. Bliv medlem for adgang til forsikringer, gratis A-kasse, gratis advokathjælp, og værdifuld inspiration til studie og arbejdsliv.">
    <meta name="generator" content={Astro.generator} />
    <title>CA A-kasse | Studiepartner</title>
  </head>

  <body>
   
      <header>
        <Header />
      </header>

    <main>
      <Hero/>

        <h3>Medlemsfordele</h3>
        <section id="membership">
          <li>
            <a href="#" id="benefit-link"><img src="arrow_blue.svg" alt="Arrow Icon"> Gratis a-kasse</a>
            <p id="benefit-content">Få gratis a-kasse under din uddannelse med CA studiemedlemsskab. <br> På den måde er du garanteret dagpenge som nyuddannet, hvis du skulle stå uden job efter endt uddannelse.</p>
          </li>
          <li>
            <a href="#" id="benefit-link"><img src="arrow_blue.svg" alt="Arrow Icon"> Billig studieforsikring</a>
            <p id="benefit-content">Som gratis studiemedlem i CA får du adgang til en skræddersyet og billig forsikring til studerende- indbo-, ulykke- og rejseforsikring hos vores samarbejdspartnere.
          </li>
          <li>
            <a href="#" id="benefit-link"><img src="arrow_blue.svg" alt="Arrow Icon"> Gratis advokathjælp</a>
            <p id="benefit-content">Du får CA Advokathjælp for studerende for 0 kr. Så kan du få tjekket kontrakten til dit studiejob af professionelle advokater. Du kan også få kort juridisk rådgivning om fx kontrakt og ansættelsesforhold helt gratis.</p>
          </li>
          <li>
            <a href="#" id="benefit-link"><img src="arrow_blue.svg" alt="Arrow Icon"> Rabatter og fordele</a>
            <p id="benefit-content">Som medlem af CA kan du få rabat hos nogle af vores samarbejdspartnere. Du får allerede rabat på udvalgt faglig kompetenceudvikling, men det kan være, der er noget andet, du søger.</p>
          </li>
          <li>
            <a href="#" id="benefit-link"><img src="arrow_blue.svg" alt="Arrow Icon"> Gratis kurser</a>
            <p id="benefit-content">Dit CA-medlemskab giver dig gratis adgang til onlinekurser.dk, hvor du kan udvikle dine kompetencer og færdigheder. Fx. Adobe CC, grafik, kommunikation og markedsføring, video, it-sikkerhed, økonomi og projektledelse.</p>
          </li>
          <blockquote>
            <p><img src="quote.svg" alt="Citat">CA var min studiepartner under studietiden og jeg var ikke et sekund i tvivl om, at jeg havde valgt den rette a-kasse.</p>
            <span>– Majbrit, Cand.merc. i <br> International i Business & Marketing</span>
          </blockquote>
        </section>


        <section id="aboutus">
          <h3>Om os</h3>
          <span>Velkommen til CA – din dedikerede karrierepartner under din studietid.</span>
          <p><br> Vi er her for at støtte dig i din uddannelse inden for forretningsområder som økonomi & finans, projektledelse, marketing, kommunikation, IT & e-commerce, ledelse & strategi, HR og lignende fagområder.</p>
          <img src="img/camember.webp" alt="Studerende">
          <section id="read-more">
            <p>Vi stræber efter at sikre, at din studietid ikke kun er præget af faglig læring, men også af trivsel og forberedelse til en succesfuld karriere efter endt uddannelse.</p>
            <button id="read_more">Læs mere</button>         
          </section>

        </section>


          <section id=questions>
            <img src="img/group.webp" alt="Questions"> 
            <h3>Har du spørgsmål til tilmelding, eller <br> bare brug for at høre mere?</h3>  
          </section>

          <div id="buttons">
          <button id="call_me">Ring mig op</button>
          <button id="contact_us">Kontakt os</button>
        </div>
        </section>

      </main>

  </body>

    <footer>
      <Footer />    
    </footer>

</html>

<style>

#tilmeld {
  top: 40%;
  font-size: 20px;
  padding: 2% 10%;
}
blockquote p {
  font-style: italic;
  width: auto;
  padding-bottom: 2%;
}

blockquote span {
  color: var(--primary-variant-color);
}
#questions h3 {
    text-align: center;
  }

#buttons {
  display: flex;
  justify-content: center;
  gap: 3em;
}
#membership {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2em;
}
#benefit-link img {
  margin-right: 12px; 
}

#membership li p.show {
  display: block;
  max-width: 400px;
}

#aboutus img {
  display: none;
}

#aboutus p {
  padding-bottom: 5%;
}

#aboutus {
  padding-top: 5%;
}

#aboutus h3 {
  padding-bottom: 2%;
  padding-top: 10%;
}

#benefit-content {
  margin: 2% 0;
}

#benefit-link {
  font-size: var(--lg-size);
  display: flex;
}

#read_more {
  align-self: flex-end;
  justify-self: end;
}

#benefit-link img {
  transition: transform 0.01s;
  }

#benefit-link.active img {
  transform: rotate(90deg);
  }

span {
  color: var(--primary-variant-color);
  font-size: var(--lg-size);
}

@media screen and (min-width: 700px) {
  #aboutus img {
    display: block;
    margin-bottom: 2%;
  }
  #aboutus p{
  max-width: 70%;
}  #membership {
  gap: 4em;
}

#aboutus h3 {
  padding-top: 2%;
}

#read-more {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-bottom: 3%;
  padding: 3% 0;
}

#read_more {
  padding: 3%;
  width: 75%;
}

}
@media screen and (max-width: 1000px) {
  #membership li p {
    display: none;
   }
  }
   @media screen and (min-width: 1000px) {
    #membership a {
  pointer-events: none;
  }
}
  @media screen and (max-width: 500px) {
    #questions img {
      margin-top: 5%;
    }
      blockquote {
    max-width: 400px;
  }
  #buttons {
    margin-bottom: 10%;
  }
}

</style>
<script src="../js/script.js"></script>


