<footer>
  <section>
    <ul id="link1">
      <li>
        <a class="link" href="/#"
          ><img src="icons/arrow.svg" alt="Arrow Icon" class="icon" /> Om CA</a
        >
      </li>
      <li>
        <a class="link" href="/#"
          ><img src="icons/arrow.svg" alt="Arrow Icon" class="icon" /> Kontakt
          os</a
        >
      </li>
      <li>
        <a class="link" href="/#"
          ><img src="icons/arrow.svg" alt="Arrow Icon" class="icon" />
           Nyhedsbrev</a
        >
      </li>
    </ul>

    <ul id="link2">
      <li>
        <a class="link" href="/#"
          ><img src="icons/arrow.svg" alt="Arrow Icon" class="icon" />
           Cookiepolitik</a
        >
      </li>
      <li>
        <a class="link" href="/#"
          ><img src="icons/arrow.svg" alt="Arrow Icon" class="icon" />
           Tilgængelighedserklæring</a
        >
      </li>
      <li>
        <a class="link" href="/#"
          ><img src="icons/arrow.svg" alt="Arrow Icon" class="icon" />
           Persondatapolitik</a
        >
      </li>
    </ul>

    <div id="phone">
      <p>Telefon hverdage 08:00 – 15:00</p>
      <span>3314 9045</span>
    </div>
  </section>
  <ul id="trustlogo">
    <li>
      <a href="https://dk.trustpilot.com/review/www.ca.dk" target="_blank"
        ><img
          src="icons/trustpilot.svg"
          alt="Trustpilot"
          class="trust-link"
        /></a
      >
    </li>
    <li>
      <a href="/#"><img src="icons/logo.svg" alt="CA" class="logo-link" /></a>
    </li>
  </ul>

  <ul class="socials">
    <li>
      <a
        href="https://www.linkedin.com/company/caakasse/?originalSubdomain=dk"
        target="_blank"
        ><img src="icons/linkedin.svg" alt="LinkedIn" class="sicon" /></a
      >
    </li>
    <li>
      <a
        class="social-link"
        href="https://www.facebook.com/Studiepartner"
        target="_blank"
        ><img src="icons/facebook.svg" alt="Facebook" class="sicon" /></a
      >
    </li>
    <li>
      <a
        class="social-link"
        href="https://www.instagram.com/caakasse/"
        target="_blank"
        ><img src="icons/instagram.svg" alt="Instagram" class="sicon" /></a
      >
    </li>
    <li>
      <a
        class="social-link"
        href="https://www.tiktok.com/@caakasse"
        target="_blank"
        ><img src="icons/tiktok.svg" alt="TikTok" class="sicon" /></a
      >
    </li>
  </ul>
</footer>

<style>
  * {
    line-height: 2em;
  }
  .icon {
    width: 2%;
  }
  .link {
    font-size: var(--md-size);
    display: flex;
    text-indent: 1rem;
  }
  @media screen and (min-width: 2200px) {
    .link {
      text-indent: 2rem;
    }
    .icon {
      width: 1.8%;
    }
  }
  #link2 {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 10%;
  }
  @media screen and (min-width: 950px) {
    #link2 {
      margin-top: 0;
    }
  }
  .phone p {
    font-family: Nexa;
  }

  #phone {
    font-size: var(--xlg-size);
    font-family: Nexa;
    margin-bottom: 1em;
  }
  @media screen and (min-width: 950px) {
    #phone {
      margin-left: 1em;
    }
  }

  @media screen and (min-width: 950px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  #trustlogo {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: -30px;
  }

  #trustlogo li {
    flex: 1;
    text-align: center;
  }

  #trustlogo li a {
    display: block;
  }

  .logo-link {
    width: 50%;
  }
  .trust-link {
    width: 55%;
  }
  @media screen and (min-width: 768px) {
    .logo-link {
      width: 25%;
    }
    .trust-link {
      width: 30%;
    }
  }

  @media screen and (min-width: 1600px) {
    .logo-link {
      width: 20%;
    }
    .trust-link {
      width: 25%;
    }
  }

  .logo-link {
    margin-top: 0.5rem;
  }

  .socials {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
  }
  @media screen and (min-width: 1600px) {
    .socials {
      margin-top: 13em;
    }
  }

  .socials li {
    flex: 1;
    text-align: center;
  }

  .socials li a {
    display: block;
  }
  .sicon {
    width: 50%;
  }

  @media screen and (min-width: 768px) {
    .sicon {
      width: 20%;
    }
  }

  /* @media screen and (min-width: 1000px) {
    .sicon {
      width: 20%;
    }
  } */
  /* .trust-link {
    width: 40%;
  }
  .logo-link {
    width: 40%;
  } */

  /* * {
    max-width: 100%;
    margin: 0 auto;
    line-height: 2em;
  }
  .phone p {
    font-family: Nexa;
  }

  #phone {
    font-size: var(--xlg-size);
    font-family: Nexa;
  }
  .footer_link1 a {
    font-size: var(--lg-size);
  }
  .footer_link2 {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 10%;
  }
  .socials {
    margin-top: 3%;
    display: flex;
    gap: 50px;
  }

  .footer_link2 a {
    margin-left: 0;
    font-size: var(--sm-size);
  }
  footer {
    padding-top: 2%;
  }
  footer a {
    display: block;
    text-decoration: none;
  }

  a:hover {
    color: #054674;
  }
  #logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #logos img {
    margin: 0;
    width: 150px;
  }

  @media screen and (min-width: 800px) {
    footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 1%;
      line-height: 40px;
    }

    #logos img {
      margin: 0;
      width: 300px;
    }

    .footer_link2 {
      margin-top: 0%;
    }

    .links {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }

    .socials {
      margin-top: 15%;
    }
    #logos img {
      margin: 0;
      width: 180px;
      padding: 0 80px;
    }
    .links {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  } */
</style>
