<footer>
      <div class="footer">
        <a href="/#">OM CA</a>
        <a href="/#">Kontakt</a>
        <a href="/#">Nyheder</a>
        <a href="/#">Nyhedsbrev</a>
        <a href="/#">Studiepartner</a>
    </div>
</footer>

<style>
footer {
    line-height: 2em;
}

li {
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: #054674;
  }

</style>