---
import Nav from "./Nav.astro";
---

<header>
    <div class="logo">
      <a href="/#" class="nav_logo">
        <img src="/favicon.svg" alt="CA Logo" />
      </a>
    </div>
    <Nav />
  </header>
  
<style>
    
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}  

.logo img {
    width: 130px;
    height: auto;
}

@media screen and (min-width: 700px) {
    .logo {
      width: 50%;
    }
  }

</style>