---
import Nav from "./Nav.astro";
---

<header id="mainHeader">
    <div class="logo">
    <a href="/#" class="nav_logo">
      <img src="icons/logo_small.svg" alt="CA Logo" class="small-logo" />
      <img src="icons/logo_long.svg" alt="CA Logo" class="large-logo" />
    </a>
  </div>
  <Nav />
</header>

<style>

  
.logo {
  z-index: 5;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}  

.logo img {
    width: 105px;
    height: auto;
}

.small-logo {
  display: block; 
}

.large-logo {
  display: none;
}

@media (min-width: 1000px) {
  .small-logo {
    display: none;
    
  }
  .large-logo {
    display: block;
  }
  .logo img {
    width: 310px;
    height: auto;
}
}

</style>