<div id="hero">
    <section id="hero">
      <h1>Din Studiepartner</h1>
        <img src="img/studerende.webp" alt="Studiepartner">
        <h2>Vi hjælper dig, fra der hvor du er <br> — Til der hvor du gerne vil være</h2>
        <button id="tilmeld">Bliv medlem</button>
    </section>
  </div>

 <style>

@media screen and (min-width: 1200px) {
  #hero {
    margin-left: 50px;
    background-image: url('card.svg');
    margin-top: 35px;
    margin-bottom: 30px;
    position: relative;
  }

  h2 {
    text-align: center;
    padding: 2%;
  }

  button {
  padding: 2% 5%;
  margin: 3% 0;
  position: absolute;
  bottom: 170px;
  right: 20px;
  width: 350px;
  font-size: 30px;
}
}
 </style>