<div id="hero">
    <section id="hero">
      <h1>Din Studiepartner</h1>
        <img src="img/studerende.webp" alt="Studiepartner">
        <button id="tilmeld">Bliv medlem</button>
        <h2>Vi hjælper dig, fra dér hvor du er <br> — Til dér hvor du gerne vil være</h2>
    </section>
  </div>

 <style>

 
  button {
    position: static;
    padding: 12px;
    margin: 6% 0;
    margin-top: -30%;
    margin-left: 40%;
    width: 200px;
    font-size: 20px;
  }

  h2 {
    text-align: center;
    margin-bottom: 6%;
  }

@media screen and (min-width: 1200px) {
  #hero {
    margin-left: 50px;
    margin-top: 35px;
    margin-bottom: 30px;
    position: relative;
  }

}
@media screen and (min-width: 800px) {

  button {
    position: static;
    top: 10%;
    right: 10%;
    width: 400px;
    font-size: 30px;
}
}
 </style>