<div id="hero">
    <section id="hero">
      <h1>Din Studiepartner</h1>
        <img src="img/studerende.webp" alt="Studiepartner">
        <h2>Vi hjælper dig, fra dér hvor du er <br> — Til dér hvor du gerne vil være</h2>
        <button id="tilmeld">Bliv medlem</button>
    </section>
  </div>

 <style>

  h2 {
    margin-top: 50px;
    }

  button {
  padding: 12px;
  margin: 3px 0;
  bottom: 20px;
  right: 50px;
  width: 200px;
  font-size: 20px;
  }

@media screen and (min-width: 1200px) {
  #hero {
    margin-left: 50px;
    background-image: url('card.svg');
    margin-top: 35px;
    margin-bottom: 30px;
    position: relative;
  }

  h2 {
    text-align: center;
    padding: 2%;
  }

  button {
  position: absolute;
  bottom: 240px;
  right: 20px;
  width: 400px;
  font-size: 30px;
}
}
 </style>