<nav>
  <ul class="nav_menu">
    <li><a href="/#">Tilmeld</a></li>
    <li><a href="/#">Nyhedsbrev</a></li>
    <li><a href="/#">Arrangementer</a></li>
  </ul>
  <div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>

<style>

  nav {
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 0 24px;
  }

  .nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 4em;
    margin-top: 2em;
    background-color: var(--background-color);
    z-index: 4;
 } 
  .hamburger {
    display: none;
    cursor: pointer;
    margin-top: 10%;
  }

  .bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    transition: all 0.4s ease-in-out;
    background-color: black;
  }
  
  @media (max-width: 700px) {
    .nav_menu {
      flex-direction: column;
      position: absolute;
      overflow: hidden;
      left: -200%;
      top: -1em;
      justify-content: center;
      padding: 0;
      width: 100%;
      height: 110vh;
      text-align: center;
      transition: 0.3s;
      z-index: 2;
      align-items: center;
      margin-top: 0;
      gap: 3em;
    }
    .nav_menu a {
      font-size: var(--xlg-size);
    }

    li {
      padding: 0.3em;
    }

    .hamburger {
      display: block;
      z-index: 3;
    }

    .hamburger.active .bar:nth-child(1) {
      translate: 0 8px;
      rotate: 45deg;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
      translate: 0 -6px;
      rotate: -45deg;
    }

    .nav_menu.active {
      left: 0;
    }
  }


  
</style>

<script src="../js/script.js"></script>

